.main_heading{
  text-align: center;
}

.main_container_grid{
  margin-top: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  align-content: center;
}

.container_todo{
  margin-left: 50px;
  margin-right: 50px;
  
  width: 400px;
  border: 1px solid red;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 30px 10px 8px rgb(244, 126, 126);
  
  
}

.container_inprogress{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
  width: 400px;
  border: 1px solid green;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 30px 10px 8px rgb(118, 243, 118);
  
  
}

.container_complete{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
  width: 400px;
  border: 1px solid blue;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 30px 10px 8px rgb(104, 104, 243);
  
  
}

.li_todo{
    
  list-style: none;
  padding: 10px;
  border-radius: 20px;
  width: 70%;
  background-color: rgb(244, 126, 126);
  margin-top: 30px;
  margin-left: 30px;
  
}

.li_inprogress{
  
  list-style: none;
  padding: 10px;
  border-radius: 20px;
  width: 70%;
  background-color: rgb(118, 243, 118);
  margin-top: 30px;
  margin-left: 30px;
  
}

.li_complete{
  
  list-style: none;
  padding: 10px;
  border-radius: 20px;
  width: 70%;
  background-color: rgb(104, 104, 243);
  margin-top: 30px;
  margin-left: 30px;
  
}